body {
    background: #1e1f22;
}

.profile-card {
    width: 400px;
    background: #2b2d31;
}

.banner {
    height: 120px;
    background-image: url("C:\Users\xinzw\Documents\GitHub\i-love-web\banner.jpeg");
}

.profile-picture {
    width: 100px;
    height: 100px;
}