* {
  box-sizing: border-box; /* uitleg over wat dit is */
}

/* HTML */
/* Hier wordt met een 'type selector' een element in de html geselecteerd. */
/* Dit verwijst naar het <html> element. De <html> krijgt een lichtgele achtergrond. */

html {
  background:rgb(80, 80, 80)
}

/* BODY */
/* Hier wordt met een 'type selector' het <body> element geselecteerd. */
/* In de <body> wordt de inhoud met "display: flex" in het midden geplaats. */
/* En krijgt de <body> en alle inhoud een font en kleur. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 

  height: 100vh;
  
  font-family: Helvetica;
  color: #ffd2e6; /* de tekst kleur wordt in hex kleuren bepaald. */
}

/* ARTICLE */
/* Het <article> element krijgt hier de styling. */
/* De inhoud wordt met "display: flex" gepositioneerd en uitgelijnd. */
/* Er wordt een breedte meegegeven, een minimale en maximale breedte. */
/* Het <article> element krijgt een kleur, en nog meer ... */
article {

   
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  
  width: 60vw;
  max-width: 25em;
  min-width: 20em;
  
  border-radius: 1rem;
  background: rgb(31 31 31);
  
  box-shadow: 0 0 20px 20px rgb(0 0 0 / .1);
  
  transition: .25s;
}



/* HEADER */
/* Hier wordt de inhoud van het <header> element gepositioneerd en uitgelijnd. */





/* BUTTON */
/* Hier krijgt de <button> de styling. */
button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  
  border: none;
  border-radius: 50%; /* De border-radius geeft de <button> ronde hoekjes. */
  background: rgb(31 31 31);
  
  scale:.8;
  
  transition: .25s; /* Transities op het <button> element duren 0.25 seconden. */
}

/* Om de <button> styling te geven als iemand met de muis over het element beweegt gebruikt je :hover */
/* :hover is een 'Pseudo-class selector', daarmee worden interacties op het element gestyled. */
button:hover {
  cursor: pointer;
  background: #ffbddd;
}
/* Met de 'Pseudo-class selector' :focus kan je bepalen hoe het element er uit moet zien als de tab toets op het toetsenbord wordt gebruikt. */
button:focus {
  outline: none;
  background: #ffbddd;
}

/* In het <button> element staat een <svg> voor het icoon. */
/* Met een spatie worden alle elementen geselecteerd die in een ander element staan. */
button svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  
  stroke: #ffbddd;
  
  transition: .25s;
  transition-delay: .25s; /* Een transitie op het <svg> element begin 0.25 seconde later. */
}
/* Met een komma wordt in een keer de styling op de :hover en de :focus van het <svg> element bepaald. */
button:hover svg, button:focus svg {
  stroke: lightyellow;
}
/* Met de 'Pseudo-class selector' :nth-of-type() wordt een element geselecteerd op basis van de volgorde. */
/* Hier wordt het tweede <svg> element in de button geselecteerd. */
button svg:nth-of-type(2) {
  opacity: 0;
  
  transition-delay: 0ms;
}

/* PROFILE HEADER EN PROFILE PICTURE STYLING AANGEMAAKT*/
/* Hier krijgt het <img> element de styling. */

.profile-banner {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  
  
}

.profile-header {
  display: flex;
  align-self: flex-start;
  margin: 1em;

  width: 10em;
  height: 10em;
  overflow: hidden;
  border: 7px solid #fff;
  border-radius: 50%;

}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.banner-background{
  width: 60vw;
  max-width: 25em;
  min-width: 20em;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #ffbddd;

  

}



.profile-info{
  margin-left: 1em;
  

  display:flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  



  font-family: Helvetica;
  

}

.slogan {
  margin-top: -1em;
  font-size: smaller;
}



.about-me {
  margin-top: 1em;
  margin-left: 1em;

  display:flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;

  font-size: small;

}


.about-me-text {
  margin-top: -.5em;
  margin-bottom: 1em;

  display: flex;
  text-align: left;

  
}

.activity {
  margin-top: 1em;
  margin-left: 1em;

  display:flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;

  font-size: small;
}

.spotify-activity {

  border-radius: 1em;
  margin-right: 1em;
  background-color: rgb(255, 242, 250);
  display: flex;
  flex-direction: row;
}

.album-cover {
  margin: 2em;
  width: 10em;
  height: 10em;
}

.spotify-status {
  color: rgb(31 31 31);
  margin: 2em;
}




/* DL, DT, DD  */
/* De eigenschappen zijn in de HTML opgemaakt in een Description List element (DL) */
/* De Description List element (DL) is een lijst met termen en beschrijvingen. */
/* In deze DL staan 3 groepen met code skills, in CSS is de layout van de DT elementen met een Grid gepositioneerd.  */

.bottom-profile {
  background-color: rgb(31 31 31);
}





/* P */
/* Hier krijgen alle <p> elementen een styling. */
p {
  margin: 0;
}

/* Om alleen de <p> elementen te stylen die in het <article> staat gebruik je de > de 'Child combinator selector'.
/* Met de 'Child combinator selector' selecteer je alle <p> elementen die een directe  kinderen van het <article> zijn. */
/* Dit selecteert dus niet de <p> in de <header>. */
article > p {

  max-width: 25em;
  min-width: 20em;
 
   margin-top: 0;
  padding: 3rem 2rem;
  
 
 
  border-radius: 0 0 1rem 1rem;
  text-align: center;

  transition: max-width .25s;
}

/* Deze styles zijn van toepassing als op de knop wordt geklikt */
body.is-expanded {
  font-size: 1.15em;
}

body.is-expanded article {

  max-width: 60vw;
}

body.is-expanded button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.is-expanded button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.is-expanded dl dd {
  font-size: 1.75em;
}

body.is-expanded img {
  scale: 120%
}

.banner-background {
  
  max-width: 25em;
  min-width: 20em;
  transition: .25s;

}


body.is-expanded .banner-background {

    max-width: 60vw;

}
